.shop-content {
    margin: 0 auto;
    width: 90vw;
    margin-top: 5em;
    border-bottom: 2px solid #333;
}
.shop-section {
    width: 100%;
    color: var(--text-color);
    text-align: center;
    h1 {
        width: 90%;
        margin: auto;
        font-family: var(--primary-font);
    }
    p {
        display: block;
        width: 90%;
        margin: 0.8em auto;
        font-family: var(--secondary-font);
    }
    .card-container {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 2em auto;
        flex-wrap: wrap;
    }
}
@media(min-width: 768px) {
    .shop-container {
        display: flex;
        width: 100%;
        .super-cart {
            margin-top: 6em;
            h1 {
                font-size: 2.5em;
                .icon.cart {
                    transform: translateY(5px);
                }
            }
            .cart-container {
                margin-top: 1em;
                border: 1px solid #333;
                width: 90%;
                .item {
                    width: 100%;
                    padding: 1em;
                    display: flex;
                    border-bottom: 1px solid #333;
                    img {
                        width: 8em;
                    }
                    h2 {
                        font-size: 1.2em;
                    }
                    &:last-of-type {
                        border-bottom: none;
                    }
                    p {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    .shop-content {
        border-right: 2px solid #333;
        border-bottom: none;
        width: 65vw;
        margin: 0 2em;
    }
    .shop-section {
        width: 65vw;
        margin: 6em 2em 0;
        margin-left: 2em;
        text-align: left;
        h1 {
            font-size: 2.5em;
        }
        p {
            font-size: 1.2em;
        }
        .card-container {
            justify-content: flex-start;
        }
    }
}