.landing {
    background-color: var(--light-color);
    color: var(--dark-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .landing-content {
        width: 90%;
        height: 100%;
        width: 90vw;
        margin: 0 auto;
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        .text {
            margin-bottom: 1em;
            h1, p, .shop-btn {
                display: block;
            }
            h1 {
                margin-bottom: 0.2em;
            }
            p {
                margin-bottom: 0.5em;
            }
            .shop-btn {
                color: var(--light-color);
                font-family: var(--primary-font);
                background-color: transparent;
                border: 2px solid var(--light-color);
                border-radius: 1000000px;
                padding: 0.5em 1em;
                transition: all 0.4s;
                &:hover {
                    background-color: var(--light-color);
                    color: var(--blue-color);
                }
            }
        }
        img {
            width: 12em;
            margin-bottom: 1em;
        }
    }
    .card-container {
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .landing {
        height: 100vh;
        .landing-content {
            width: 60%;
            height: 70%;
            margin-top: 6.5em;
            flex-direction: row;
            text-align: left;
            .text {
                width: 80%;
                margin-right: 3em;
                h1, p, .shop-btn {
                    display: block;
                    margin: 0 auto;
                }
                h1 {
                    font-size: 4em;
                    margin-bottom: 0.2em;
                }
                p {
                    font-size: 1.3em;
                    margin-bottom: 0.2em;
                }
                .shop-btn {
                    margin: 1em 0;
                    font-size: 1.1em;
                    width: fit-content;
                }
            }
            img {
                width: 20em;
            }
        }
    }
}