.landing-card {
    position: relative;
    background-color: var(--light-color);
    color: var(--dark-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 1em;
    width: 20em;
    height: 20em;
    margin-bottom: 2.5em;
    h1, p {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    h1 {
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }
    img {
        position: absolute;
        width: 5em;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        right: 0.5em;
        opacity: 0.2;
    }
}
@media (min-width: 768px) {
    .landing-card {
        margin-right: 3em;
    }
}